input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.container {
    /* display: block; */
    position: relative;
    padding-left: 20px !important;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container span{
  font-size: 14px;
  font-weight: bold;
  padding-left: 0px;
}
/* .container div{
  padding-left: 20px;
} */
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
}
.container:hover{
  font-weight: bold;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #555555;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #555555;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#lo_slider_container {
  display: none;
}

#body {
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#body_t2 {
  width: 98%;
  margin: auto;
}

.qtip {
  max-width: none !important;
}
.qtip a {
  /*text-decoration: inherit !important;*/
  color: inherit !important;
}
span.tip {
  line-height: 23px;
}
span.tipProt {
  color: #17A589;
  float: left;
  width: 70px;
}
span.tipPfam {
  color: #074987;
  float: left;
  width: 80px;
}
span.tipELM {
  color: #7f7c7b;
  float: left;
  width: 90px;
}
span.tipInP {
  color: #7b241c;
  float: left;
  width: 140px;
}
span.tipCos {
  color: #28446f;
  float: left;
  width: 110px;
}
span.tipBioG {
  color: #33a1c2;
  float: left;
  width: 130px;
}
span.tip3did {
  color: #16a085;
  float: left;
  width: 130px;
}
span.tipIdom {
  color: #d4ac0d;
  float: left;
  width: 130px;
}
span.tipELMint {
  color: #b95db9;
  float: left;
  width: 130px;
}

span.pos {
  color: #06b049;
}
span.neg {
  color: #e74c3c;
}

.qtip table, th, td {
  border: 0px 0px 1px 0px solid black;
  border-collapse: collapse;
}
.qtip tr {
  border-bottom: 1px solid #fff;
}
.qtip th {
  padding: 10px;
  color: #28446f;
}
.qtip td {
  padding: 5px;
  background-color: #28446f;
  color: #fff;
  text-align: center;
}
.qtip td span {
  text-decoration: underline;
}
.qtip td span:hover {
  color: lightgrey;
}

#control_panel {
  position: relative;
  background-color: #ccc;
  border:2px solid #ccc;
  border-radius: 3px;
  padding-left: 5px;
  padding-bottom: 10px;
  text-align: left;
  color: #555555;
  font-size: 12px;
}
#control_panel_title{
  margin-top:6px;
  margin-bottom:6px;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
#control_panel legend{
  font-size: 14px;
  font-weight: bold;
}
#control_panel hr{
  margin-top: 8px;
  margin-bottom: 8px;
}

.GenButton {
  background-color: #ccc;
  border: 1px solid #555555;
  color: #555555;
  font-size: 14px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
.GenButton:hover{
  color: #fff;
  background-color: #555555;
}
#coord:focus, #lock:focus{
  color: #000;
  background-color: #fff;
}

.ptmButton {
  background-color: #ccc;
  border: 1px solid #555555;
  color: #555555;
  font-size: 14px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
.ptmButton:hover, .ptmButton:focus {
  color: #fff;
  background-color: #555555;
}


#graph {
  background-color: transparent;
}
#graph_box {
  height:600px;
  border:2px solid #ccc;
  border-radius: 3px;
  background-color: white;
}
#graph_title {
  background-color: #ccc;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  padding-left: 5px;
  font-weight: bold;
  color: #555555;
}

#cy {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*z-index: 999;*/
}

#quick-tools {
  position: relative;
  padding-top: 5px;
  padding-left: 5px;
  /* border:1px solid #ccc; */
}

#helpBtn {
  background-color: #555555;
  color: white;
}
#helpBtn:hover {
  background-color: blue;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #FFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #555555;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #555555;
  cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    max-width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.echart {
  width:30%;
  height:250px;
  margin:auto;
  background-color: #F3F3F3;
  border: 1px solid #898989;
  border-radius: 4px;
}


#table_title {
  border-bottom: 1px solid white;
}
#table_title span {
  position: relative;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#table_title a {
  position: absolute;
  right: 1em;
  font-size: 18px;
  color: white;
}


#goToTop {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  cursor: pointer;
  padding: 10px;
}
#goToTop:hover {
  color: #fff;
  background-color: #555555;
}
