.qtip {
  max-width: none !important;
}
.qtip a {
  /*text-decoration: inherit !important;*/
  color: inherit !important;
}
span.tip {
  line-height: 23px;
}
span.tipProt {
  color: #17A589;
  float: left;
  width: 70px;
}
span.tipPfam {
  color: #074987;
  float: left;
  width: 80px;
}
span.tipELM {
  color: #7f7c7b;
  float: left;
  width: 90px;
}
span.tipInt {
  color: #33a1c2;
  float: left;
  width: 130px;
}

#main_container{
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#main_t1 {
  margin-top: 1em;
}
  /*right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 0em;
  width: 98%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}*/

#main_t2 {
  width: 98%;
  margin: auto;
}
  /*right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}*/

#control_panel {
  position: relative;
  background-color: #ccc;
  border:2px solid #ccc;
  border-radius: 3px;
  padding-left: 5px;
  padding-bottom: 10px;
  text-align: left;
  color: #555555;
  font-size: 12px;
}
#control_panel_title{
  margin-top:6px;
  margin-bottom:6px;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
#control_panel legend{
  font-size: 14px;
  font-weight: bold;
}
#control_panel hr{
  margin-top: 8px;
  margin-bottom: 8px;
}

.GenButton {
  background-color: #ccc;
  border: 1px solid #555555;
  color: #555555;
  font-size: 14px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
.GenButton:hover{
  color: #fff;
  background-color: #555555;
}
#coord:focus, #lock:focus{
  color: #000;
  background-color: #fff;
}

.ptmButton {
  background-color: #ccc;
  border: 1px solid #555555;
  color: #555555;
  font-size: 14px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
.ptmButton:hover, .ptmButton:focus {
  color: #fff;
  background-color: #555555;
}
#mutation span {
  font-weight: bold;
  color: #FF0000;
}
#phospho span {
  font-weight: bold;
  color: #FFFF00;
}
#acet span {
  font-weight: bold;
  color: #008000;
}

#graph {
  background-color: transparent;
}
#graph_box {
  height:600px;
  border:2px solid #ccc;
  border-radius: 3px;
  background-color: white;
}
#graph_title {
  background-color: #ccc;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  padding-left: 5px;
  font-weight: bold;
  color: #555555;
}

#cy {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*z-index: 999;*/
}

#quick-tools {
  position: relative;
  padding-top: 5px;
  padding-left: 5px;
  /* border:1px solid #ccc; */
}

#helpBtn {
  background-color: #555555;
  color: white;
}
#helpBtn:hover {
  background-color: blue;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    max-width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#table_title {
  border-bottom: 1px solid white;
}
#table_title span {
  position: relative;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#table_title a {
  position: absolute;
  right: 1em;
  font-size: 18px;
  color: white;
}


#goToTop {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  cursor: pointer;
  padding: 10px;
}
#goToTop:hover {
  color: #fff;
  background-color: #555555;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/*#myDiv {
  display: none;
  text-align: center;
}*/
