<div class="header">
  <div class="header-content">
    <a href="/"> 
      <img
        src="{{ url_for('static',filename='images/header.svg') }}"
        width="300px"
        height="65px"
        style="vertical-align: top;"
      />
    </a>
    <div class=header-buttons>
      <a class="header-button" href="/"><i class="fas fa-home"></i> Home</a>
      <a class="header-button" href="/help" ><i class="fas fa-question-circle"></i> Help</a>
      <a class="header-button" href="http://www.russelllab.org" ><i class="fas fa-users"></i> Russell Lab</a>
    </div>
  </div>
</div>