<div class="footer">
  <div class="footer-col-1">
    <div class="footer-col-title">Developed by</div>
    <p style="margin:0; padding:0;">
    Juan Carlos Gonzalez Sanchez, Rob Russell and others
    </p>
    <p>
    at the <a href="http://www.russelllab.org/" style="color: white;">Russell Lab</a>
    (University of Heidelberg, 2020)
    </p>
  </div>
  <div class="footer-col-3">
    <div class="footer-col-title">Contact</div>
    <p>
      <i style="color:white; margin-right:10px;" class="fas fa-envelope"></i>juan-carlos.gonzalez@bioquant.uni-heidelberg.de
    </p>
    <p>
      <i style="color:white; margin-right:10px;" class="fas fa-envelope"></i>robert.russell@bioquant.uni-heidelberg.de
    </p>
  </div>
  <div class="footer-col-2">
    <div class="footer-col-title">Powered by</div>
    <a href="http://js.cytoscape.org/">
      <img src="{{ url_for('static',filename='images/cytoscape-logo-white.png') }}" alt="cyto-logo" width="35" height="40">Cytoscape.js
    </a>
  </div>
</div>
