<div class="footer">
  <div class="footer-content">
    <div class="footer-col-1">
      <div class="footer-col-title">
        <i style="color:white; margin-right:10px;" class="fas fa-users-cog"></i>
        Developed by</div>
      <p style="margin:0; padding:0;">
      Juan Carlos Gonzalez Sanchez, Rob Russell and others 
      at the <a href="http://www.russelllab.org/" style="color: white;">Russell Lab</a>.
      <br>
      2021, Heidelberg University.
      </p>
      <div class="footer-imgs">
        <img
          src="{{ url_for('static',filename='images/universitat-heidelberg-logo.svg') }}"
          width="150" height="75"
        />
        <a href="https://www.denbi.de"> 
          <img
            src="{{ url_for('static',filename='images/denbi-logo.svg') }}"
            width="202" height="55"
          />
        </a>
      </div>
    </div>

    <div class="footer-col-2">
      <div class="footer-col-title">
        <i style="color:white; margin-right:10px;" class="fas fa-envelope"></i>
        Contact
      </div>
      <div>
        juan-carlos.gonzalez@bioquant.uni-heidelberg.de
        <br>
        robert.russell@bioquant.uni-heidelberg.de
      </div>
    </div>
  </div>
</div>
